@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.top{
    display: flex;
    justify-content: center;
    background-color:#1f456d;

}
.top-h1{
    margin: 40px;
    font-family:  sans-serif;
    color: wheat;
}
.logo{
    padding: 10px;
}
.photo-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

nav{
    width: 100%;
    height: 75px;
    background-color: #0D887D;
    line-height: 75px;
    /* padding: 0px 10px; */
    /* position:fixed; */
    /* z-index: 1; */
    
}

nav ul{
    float: center;

}
nav ul ul{
    display: none;
}
.menu{
    display: none;
    position: absolute;
    background-color: #07a559;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* display: flex; */
  }


nav ul li:hover ul{
    
    display: flex;
    flex-direction: column;
}

nav ul li{
    display: inline-block; 
       list-style: none;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
}
nav ul li a:hover{
    color: #c0d96f;
}
/* Middle */
.middle{
    /* margin: 0; */
}
.middle div img{
    margin: 0;
    padding: 0;
}
.department{
    padding: 50px;
}
.department-photo{
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    /* display: inline-block;
    padding: 100px 10px 50px 180px;
    justify-content: center; */
}
.dep-heading{
    text-align: center;
    font-size: 26px;
    font-weight: 800;
}

.body{
    height: 100%;

}
.bottom{

    width: 100%;
    background-color:black;
    color: aliceblue;
    line-height: 50px;

}
.container{
    
    text-align: center;
    
}
.container img{
    padding: 10px;
    
}
.container p{
    /* text-align: center; */
}

#copyright{
color:white;
text-align: center;
    background-color: black;

}